@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Mukta:wght@300&family=Nunito:ital,wght@1,200;1,300&family=PT+Sans+Narrow&family=Roboto+Slab&family=Roboto:ital,wght@1,100&display=swap');

/* Variable */
:root {
  --font-family: 'Roboto', sans-serf;
  --bold-font: 700;
  --bg-color: #fcfcfc;
  --bg-color2: darkslategray;
  --black-color: #000000;
  --white_color: #ffffff;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
}
/*Fin Variables*/

/* CSS Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #000;
}
body {
  min-height: 100vh;
  max-width: 1400px;
  background-color: var(--bg-color);
  margin: 0 auto;
}
/* Contenedor principla */
.grid-container {
  width: 100%;
  display: grid;

  grid-template-columns: repeat(12, 1fr);
}
/* Inicio header*/
.header {
  width: 100%;
  grid-column-end: span 12;
}
.header-sup {
  width: 100%;
  grid-column-end: span 12;
  text-align: center;
}
.header-inf {
  width: 100%;
  height: 100px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  background-color: rgb(241, 229, 229);
}
.header-sup p {
  letter-spacing: 2px;
}
/*Header logo de la empresa*/
.header-logo {
  width: 100%;
  display: grid;
  grid-column-end: span 2;
  place-content: center;
}
.header-logo img {
  width: 70px;
}
/* header nombre de la empresa*/
.header-name {
  grid-column-end: span 6;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: start;
  align-items: center;
}
.header-name p {
  color: greenyellow;
  background-color: var(--primary-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  font-size: 3rem;
  font-weight: 900;
  text-align: start;
  margin-left: 0.5rem;
  padding-left: 5px;
  padding-right: 30px;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.header-name p:first-of-type {
  color: #1d2fcc;
  background-color: var(--white_color);
  clip-path: none;
  padding: 0;
}
/* Header carrito de compra y ingresar*/
.header-car {
  grid-column-end: span 4;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 15px;
}
.header-car a {
  text-decoration: none;
}
.header-car a:hover {
  color: var(--secondary-color);
}
/* Fin header*/
/* Inicio  Navbar*/
/*Contenedor navbar*/
.nav {
  grid-column-end: span 12;
  background-color: var(--primary-color);
  width: 100%;
  height: 50px;
}
.navbar ul {
  float: right;
  margin-right: 10px;
}

.navbar ul li {
  display: inline-block;
  margin: 30px 10px;
}
.navbar ul li a {
  font-size: 16px;
  padding: 10px 5px;
  text-decoration: none;
  color: var(--white_color);
}
.navbar ul li span {
  color: var(--primary-color);
}

.navbar ul li a:hover {
  color: var(--secondary-color);
}

.navbar {
  background-color: black;
}
/* Menu desplegable de categorias */
.dropdown-content {
  display: none;
  position: absolute;
  width: 200px;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(172, 117, 117, 0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
  background-color: var(--black-color);
  
}
.dropdown-content a {
  display: block;
  color:var(--black-color);
  padding: 5px;
  text-decoration: none;
  background-color: var(--black-color);
}
.dropdown-content a:hover {
  color: var(--black-color);
  background-color: var(--primary-color);
}
/*Fin  Elemento navbar*/

/* Inicio del main container*/
.main {
  grid-column-end: span 12;
}
/* Seccion titulo principal*/
.title-section {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  margin: 20px auto;
}
.h1-title {
  width: 100%;
  grid-column-end: span 6;
}
.h1-title h1 {
  font-size: 3em;
}
.graf-title {
  width: 100%;
  grid-column-end: span 6;
  display: grid;
  justify-content: center;
  justify-items: center;
}
.graf-title img {
  width: 80%;
  border-radius: 1em;
}

/*Fin section title*/

/*  Inicio Slider imagen */

.slider-frame {
  width: 90%;
  height: auto;
  margin: 50px auto 0;
  overflow: hidden;
}
.slider-frame ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 16s infinite ease-in-out;
}
.slider-frame li {
  list-style: none;
  width: 100%;
}

.slider-frame img {
  width: 100%;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  95% {
    margin-left: -300%;
  }
}
/* Fin slider imagen */

/* Iframe reproduce video de youtube*/
.iframe {
  width: 100%;
  grid-column-end: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 15px auto;
  justify-content: center;
  align-items: center;
}
iframe {
  grid-column-end: span 12;
  width: 90%;
  height: 250px;
  margin: 15px auto;
}
/*Fin iframe*/
/*Inicio seccion de productos*/
.card-section {
  width: 100%;
  grid-column-end: span 12;
  display: grid;
  justify-content: center;
}
.carda-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 15px;
  justify-content: space-between;
  background-color: rgb(202, 195, 195);

  margin: 15px auto;
}
.card {
  grid-column-end: span 3;
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 2px;

  border-radius: 10px;
  background-color: #fcfcfc;
  margin: 10px;
}
.card h4,
p {
  margin-left: 3px;
}
.card button {
  width: 70%;
  background-color: forestgreen;
  color: var(--white_color);
  margin: 2px auto;
}
.card button:hover {
  background-color: orange;
}

.img-card {
  padding-top: 5px;
}
.fict {
  object-fit: contain;
}

.banner-container-left {
  grid-column-end: span 12;
  display: grid;
  justify-content: start;
  margin-left: 50px;
}
.banner-container-right {
  grid-column-end: span 12;
  display: grid;
  justify-content: end;
  margin-right: 50px;
}
.banner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 80%;
}
.banner img {
  grid-column-end: span 12;
}

/*Fin seccion de productos*/
/*/ Inicio Info*/
.info {
  width: 90%;
  grid-column-end: span 12;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(12, 1fr);
  margin: 20px auto;
}

.info .banner {
  width: 100%;
  grid-column-end: span 4;
  display: flex;
  flex-direction: row;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
/*Fin Info*/
/* Section certificacion partners */
.certificaition {
  grid-column-end: span 12;
  width: 100%;
  display: grid;
  justify-content: center;
}

.cer-sup {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 5px;
  justify-content: center;
  margin: 15px auto;
}
.h2-cert {
  width: 100%;
  grid-column-end: span 9;
  display: grid;
  justify-content: center;
  align-items: center;
}
.h2-cert {
  font-size: 1em;
}
.logo-cert {
  width: 100%;
  grid-column-end: span 3;
}
.cert-inf {
  grid-template-columns: repeat(12, 1fr);
  width: 90%;
  display: grid;
  margin: 15px auto;
  gap: 25px;
}
.item1-cert {
  width: 90%;
  grid-column-end: span 4;
}
.item2-cert {
  width: 90%;
  grid-column-end: span 4;
}
.item3-cert {
  width: 90%;
  grid-column-end: span 4;
}
/*Fin certificacion container*/

/* inicio contenido pagina acerca(solo el main)*/

.acerc-sign {
  grid-column-end: span 12;
  width: 70%;
  height: 200px;
  border: 1px solid black;
  margin: 15px auto;
  background-image: url(../img/FONDO2.jpg);
}

.acerc-sign .poligono {
  position: absolute;
  width: 35%;

  height: 100px;
  transform: skew(20deg);
  background: var(--secondary-color);
  margin-top: 1em;
  margin-left: 2em;
  z-index: 0;
}
.acerc-sign h2 {
  position: absolute;
  width: 40%;
  height: 100px;
  font-size: 2.5rem;
  padding-top: 2empx;
  transform: skew(20deg);
  background: rgb(88, 135, 206);
  margin-top: 1em;
  margin-left: 2.5em;
  z-index: 1;
}
.acerc-text {
  grid-column-end: span 12;
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  border: 1px solid var(--black-color);
}
.acerc-text h1 {
  width: 90%;
  text-align: center;
}
.acerc-text p {
  width: 50%;
  text-align: center;
  margin-top: 20px;
}
.sellers {
  grid-column-end: span 12;
  width: 80%;
}
.sellers p {
  text-align: start;
  margin: 30px 0 10px 200px;
}
.sellers table {
  margin: 10px auto;
}
.sellers th {
  text-align: center;
  color: white;
  background-color: rgb(21, 117, 124);
}

.sellers tr:nth-child(even) {
  background-color: #615d5d;
}

.sellers th,
td {
  border: 1px solid #979191;
  padding: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.acerc-sign2 {
  grid-column-end: span 12;
  width: 70%;
  height: auto;
  border: 1px solid black;
  margin: 0 auto;
}
.acerc-sign2 .poligono {
  position: absolute;
  width: 25%;

  height: auto;
  transform: skew(20deg);
  background: var(--secondary-color);
  margin-top: 20px;
  margin-left: 100px;
  z-index: 0;
}
.acerc-sign2 h2 {
  position: absolute;
  width: 50%;
  height: 100px;
  font-size: 2.5rem;
  padding-top: 30px;
  transform: skew(20deg);
  background: rgb(88, 135, 206);
  margin-top: 45px;
  margin-left: 200px;
  margin-bottom: 20px;
  z-index: 1;
}
.cbu-container {
  grid-column-end: span 12;
  display: flex;
  flex-direction: row;

  flex-flow: row wrap;
  align-items: center;
  margin: 10px auto;
  width: 50%;
}
.cbu-card {
  width: 70%;
  border: 1px solid var(--black-color);
  margin: 10px auto;
  text-align: center;
}
/* Fin contenido pagina acerca */
/*Inicio pagina contacto.html (solo main)*/

.img-contac {
  width:90%;
  grid-column-end: span 12;
 display: flex;
flex-direction: row;
justify-content: center;
  margin: 15px auto;
}
.img-contac img {
  grid-column-end: span 12;
  width: 600px;
  
 
}

.adress {
  grid-column-end: span 12;
  width: 50%;
  height: auto;
  display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: rgb(21, 117, 124);

 margin:  15px auto;
}
.adress li {
  list-style: none;
  padding-top: 20px;
  background-color: var(--white_color);
  margin: 10px auto;
  padding: 10px;
}
.data-contact {
  width: 80%;

  text-align: left;
  padding-left: 20px;
}
.iframe-maps {
  width: 80%;
  margin-top: 10px;
  margin-left: 60px;
  
}
/*Formulario*/
.formulario .form {
  width: 70%;
  margin: 0.7em auto;
  border: 3px solid var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 2em;
  background-image: linear-gradient(to bottom right, rgb(0, 247, 255), rgb(0, 110, 255));
}
.formulario p {
  font-size: 1em;
  text-align: center;
  margin-top: 3px;
}
.formulario .form input {
  width: 30%;
  border-radius: 8px;
  margin: 0.5em;
  padding: 3px;
}
.formulario .form textarea {
  border-radius: 8px;
  margin: 1em;
  padding: 6px;
  resize: none;
}
.formulario .form .button {
  background: var(--primary-color);
  border: 3px solid var(--white_color);
  border-radius: 10px;
  color: var(--white_color);
  cursor: pointer;
  display: block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  font-weight: bold;
  padding: 0.5em;
  margin-right: 5em;
  margin-bottom: 0.5em;
  text-align: center;
  transition: transform 0.2s;
  width: 20%;

  align-self: self-end;
}
/* Fin formulario de Contacto*/
/* Inicio de contenido pagina registro.html y login.html (solo el main)*/
.form-register {
  background-image: linear-gradient(to bottom right, rgb(216, 133, 195), rgb(76, 115, 167));
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  
}
.form-container {
  
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--white_color);
  margin-top: 150px;
  margin-bottom: 150px;
  padding: 3px;
  border-radius: 20px;
  width: min(70%, 600px);
  border: 1px solid #aaa;
  gap: 5px;
}
.form-container p {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1em;
}
.form-container .link {
  text-decoration: none;
  color: #1a2537;
  font-weight: 600;
}
.form h2 {
  text-align: center;
  color: #1a2537;
  font-size: 3rem;

}
.input-container input {
  font-size: 0.8em;
  width: 50%;
  padding: 0.2em;
}
.input-container {
  margin-bottom: 10px;
}
.icon {
  min-width: 50px;
  text-align: center;
  color: #999;
}
.btn {
  border: none;
  width: 30%;
  color: var(--white_color);
  font-size: 0.8em;
  background: #1a2537;
  padding: 1em ;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 60%;
}
.btn:hover {
  background: cadetblue;
}
/* Fin Formularios de registro y inicio de sesion*/
/*  inicio Banner sponsor*/
.sponsor{
  grid-column-end: span 12;
  width:80%;
  display:flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
  margin: 15px auto;
  justify-content: space-around;
}
.sponsor .card-sponsor{
  width: 202px;
  grid-column-end:span 3;
  
  border: 1px solid var(--black-color);
}
/* Fin banner sponsor*/


/*Inicio footer*/
.footer {
  grid-column-end: span 12;
}
.footer-sup {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  background-color: #1a202c;
  gap: 5px;
  margin: 20px auto;
  color: var(--white_color);
}
/* COntiene el logo del footer*/
.logo-footer {
  grid-column-end: span 1;
  display: grid;
  justify-content: center;
  justify-items: center;
}
.logo-footer img {
  width: 70px;
  margin-top: 15px;
}
/* seccion de contacto del footer*/
.contac-footer {
  grid-column-end: span 3;
  margin-top: 15px;
  margin-bottom: 10px;
  display: grid;
  justify-content: center;
  gap: 5px;
}
.contac-footer li {
  list-style-type: none;
  color: var(--white_color);
}
/* Seccion de horario de atencion del footer*/
.schedule-footer {
  grid-column-end: span 4;
  margin-top: 15px;
  margin-bottom: 10px;
  display: grid;
  justify-content: center;
  gap: 5px;
}
/*Seccion siguenos en del footer*/
.follow-footer {
  grid-column-end: span 4;
  margin-top: 15px;
  margin-bottom: 10px;
  display: grid;
  justify-content: center;
  gap: 5px;
}
.follow-footer a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: var(--white_color);
  margin-right: 10px;
  background-color: red;
  text-align: center;
  margin-top: 2px;
  transition: all 300ms ease;
}
.follow-footer a:hover {
  color: rgb(42, 152, 216);
}
/*Derechos reservado y defensa del consumidor*/
.footer-inf {
  grid-column-end: span 12;
  display: grid;
  justify-content: center;
  background-color: antiquewhite;
}
.footer-inf a {
  text-decoration: none;
}
.footer-inf p {
  color: var(--black-color);
  margin: 10px auto;
}
/*Fin del footer*/

/* Inicio media queris*/
@media screen and (max-width: 768px) {
  .header-logo {
    grid-column-end: span 2;
  }
  .header-name {
    grid-column-end: span 10;
  }
  .header-carrito {
    grid-column-end: span 12;
  }

  /* Inicio Menu hamburguesa*/
  .hamburger {
    width: 30px;
    position: absolute;
    top: 140px;
    transform: translateY(-50%);
  }
  .hamburger span {
    margin-bottom: 3px;
    margin-left: 10px;
    background-color: var(--secondary-color);
    display: block;
    height: 5px;
  }
  nav ul {
    float: none;
    width: 300px;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: black;
    margin: 0px;
    padding-top: 60px;
    transition: 1s;
    left: -100%;
    z-index: 2;
  }

  .open {
    left: 0;
  }
  .navbar ul li {
    display: block;
    float: none;
  }

  .navbar ul li a {
    font-size: 18px;
    padding: 10px 10px;
  }

  .close {
    display: block;
    position: absolute;
    width: 50px;
    height: 100px;
    right: 10px;
    top: 15px;
    color: var(--white_color);
    font-size: 30px;
    cursor: pointer;
  }
  /* Fin menu hamburguesa*/
  .h1-title h1 {
    font-size: 2em;
  }
  .logo-cert {
    grid-column-end: span 12;
  }

  .h2-cert {
    grid-column-end: span 12;
  }
  .card {
    grid-column-end: span 6;
  }
  .banner-container-left,
  .banner-container-right {
    justify-content: center;
  }
  .banner-container-left img,
  .banner-container-right img {
    width: 450px;
  }
  .info .banner h3 {
    font-size: 10px;
  }
  .info .banner p {
    font-size: 8px;
  }
 

  /* inicio Footer*/
  .logo-footer {
    grid-column-end: span 6;
  }
  .contac-footer {
    grid-column-end: span 6;
  }
  .schedule-footer {
    grid-column-end: span 6;
  }
  .follow-footer {
    grid-column-end: span 6;
  }
  /*Fin footer*/
}
@media screen and (max-width: 470px) {
  .header-logo img {
    width: 40px;
  }

  .header-name {
    grid-column-end: span 9;
  }
  .header-name p {
    font-size: 1.5rem;
  }

  .header-car {
    padding-left: 15px;
  }
  .header-car {
    width: 100%;
    grid-column-end: span 12;
  }
  .h1-title h1 {
    font-size: 1em;
  }
  .card {
    grid-column-end: span 12;
    margin: 10px auto;
  }
  .banner-container-left,
  .banner-container-right {
    justify-content: center;
  }
  .banner-container-left img,
  .banner-container-right img {
    width: 300px;
  }
  
  /*footer*/
  .logo-footer {
    grid-column-end: span 12;
  }
  .contac-footer {
    grid-column-end: span 12;
  }
  .schedule-footer {
    grid-column-end: span 12;
  }
  .follow-footer {
    grid-column-end: span 12;
  }
}
